@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");




:root{

--Very-Dark-Blue: hsl(230, 29%, 20%);
--Dark-Grayish-Blue: hsl(230, 11%, 40%);
--Grayish-Blue: hsl(231, 7%, 65%);
--Light-Grayish-Blue: hsl(207, 33%, 95%);
--red: hsl(0, 100%, 68%);
--bleu:hsl(228, 45%, 44%);
--barlowCondensed: "Barlow Condensed", sans-serif;
--barlow: "Barlow", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



ul {
  list-style-type: none;
}

body {
  font-size: 18px;
  font-family: var(--barlow);
  color: var(--Very-Dark-Blue);
  background-color: #fff;
  padding: 1.5rem;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

h1,
h2,
li,
.cta {
  font-family: var(--barlowCondensed);
}

p {
  line-height: 1.8;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.cont {
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 3rem;
  background-color: var(--Light-Grayish-Blue);
  height: calc(50vh - 10px);
  width: calc(50vw - 10px);

  z-index: -1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

nav {
  position: absolute;
  top: -100vh;
  background-color: #fff;
  padding: 1.5rem;
  width: 90%;
  margin: auto;
  border-radius: 0.625rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

nav.open {
  top: 6rem;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

nav ul li a {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

nav ul li:nth-child(4) {
  display: none;
}

nav ul li:last-child {
  border-top: 1px solid var(--Light-Grayish-Blue);
  padding-top: 1rem;
}

.close {
  display: none;
}

.main {
  display: flex;
  flex-direction: column-reverse;
  padding: 4rem 0;
}

.main article:last-child img {
  width: calc(125vw);
}

.main h2 {
  font-weight: 400;
  font-size: 1.3rem;
  margin: 6rem 0 1rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: hsl(231, 7%, 65%);
}

.main h2 span {
  background-color: var(--Very-Dark-Blue);
  color: #fff;
  padding: 0.2rem 0.8rem;
  border-radius: 30px;
  letter-spacing: 0;
}

.main h1 {
  font-size: 3rem;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.main p {
  margin-bottom: 2rem;
}

.main .cta button {
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--barlowCondensed);
  background-color: var(--red);
  color: #fff;
  padding: 0.625rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.main .cta span {
  font-size: 0.8rem;
  color: var(--Grayish-Blue);
  margin-left: 1rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.attribution {
  font-size: 14px;
  text-align: center;
}

.attribution a {
  color: var(--bleu);
}

@media (min-width: 1024px) {
  nav {
    position: relative;
    top: 0;
    background-color: transparent;
    padding: 0;
    width: auto;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    transition: 0;
  }

  nav.open {
    top: 0;
  }

  nav ul {
    flex-direction: row;
  }

  nav ul li:nth-child(4) {
    display: block;
    color: var(--Grayish-Blue);
    font-size: 4rem;
    line-height: 0.2;
  }

  nav ul li:last-child {
    border-top: none;
    padding-top: 0;
    color: var(--Grayish-Blue);
  }

  #menu-button {
    display: none;
  }

  .main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1200px;
    margin: auto;
    place-items: center;
    padding: 6rem 0;
  }

  .main h1 {
    font-size: 5rem;
  }

  .main article:last-child {
    position: absolute;
    right: -16rem;
  }

  .main article:last-child img {
    width: auto;
  }
}